body {
  margin: 0px;
  background-color:	#6de6c2);
}

.intro1{
  margin: 50px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}
.Languages {
  border: 5cm;
}

h2 {
  text-align: center;
}

/* this is the styling for the main name of the website */
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

.header {
  border: 5cm;
  background-color: black;
  position: sticky;
  padding: 1rem;
  margin-right: 0px;
  margin-left: 0px;
}


.bar{
  list-style: none;
  padding: 0;
  margin: 0;
  position: sticky;
  top: 0;
  width: 100%;
  border: 45%;
  background-color: black;
  color: aliceblue;
}

.header-li{display: inline; right:75%;}
.column {
  float: left;
  width: 50%;
}
.intro{ margin: 10px;}
.row:after {
  display: table;
  clear: both;
}
.sign-in,
.sign-up {
  color: black;
  border-color: aliceblue;
  background-color: aliceblue;
  border-radius: 4px;
  padding: 0.25rem;
  background-color: bisque;
  text-align: end;
  align-items: end;
}
